SITES: "[{\"url\":\"https://xxx.com\",\"source\":\"XXX\",\"waitSelector\":\".quote-container\",\"container\":\".current-exchange\",\"elements\":\".price > .amount > .number\",\"buyPosition\":0,\"sellPosition\":1}]"